In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
salary_train=pd.read_csv('C:/Users/cyadav/Excelr-R-assignement/Niave Bayes/SalaryData_Train.csv')
salary_test=pd.read_csv('C:/Users/cyadav/Excelr-R-assignement/Niave Bayes/SalaryData_Test.csv')
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [7]:
#taking only those column which have text/string values

string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [17]:
from sklearn import preprocessing
label_encoder =  preprocessing.LabelEncoder()

In [21]:

for i in string_columns:
    salary_train[i] = label_encoder.fit_transform(salary_train[i])
    salary_test[i] = label_encoder.fit_transform(salary_test[i])

In [22]:
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,<=50K
1,50,4,9,13,2,3,0,4,1,0,0,13,37,<=50K
2,38,2,11,9,0,5,1,4,1,0,0,40,37,<=50K
3,53,2,1,7,2,5,0,2,1,0,0,40,37,<=50K
4,28,2,9,13,2,9,5,2,0,0,0,40,4,<=50K

In [23]:
col_names = list(salary_train.columns)
col_names

['age',
 'workclass',
 'education',
 'educationno',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native',
 'Salary']

In [46]:
# checking the distribution of the train data set we can see that the dataset is imbalance for salaries <=50K are more than >50K

salary_train['Salary'].value_counts()

 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [30]:
#setting columns 0 to 12 as X(input) variables 
train_X= salary_train[col_names[0:13]]
#setrting column 13th as an Y(output) varible
train_Y= salary_train[col_names[13]]

In [31]:
#setting columns 0 to 12 as input variable for the test dataset
test_x = salary_test[col_names[0:13]]

#setting column 13th as an output variable for the test dataset

test_y = salary_test[col_names[13]]

# Naive Bayes
#### Gaussian Naive Bayes

In [32]:
from sklearn.naive_bayes import GaussianNB
Gau_model = GaussianNB()

In [37]:
#train the model with train dataset using the fit method
train_pred_gau=Gau_model.fit(train_X,train_Y).predict(train_X)
#generated the predcition accuracy on the training dataset
train_acc_gau=np.mean(train_pred_gau==train_Y)

In [38]:
#train dataset prediction accuracy
train_acc_gau

0.7953317197705646

In [41]:
test_pred_gau = Gau_model.fit(train_X,train_Y).predict(test_x)

test_acc_gau = np.mean(test_pred_gau==test_y)

In [47]:
test_pred_gau

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [48]:
from sklearn.metrics import accuracy_score
result = Gau_model.predict(test_x)
print(result)

[' <=50K' ' <=50K' ' <=50K' ... ' <=50K' ' >50K' ' <=50K']

In [49]:
#Printing accuracy of the our model
accuracy_score(result,test_y)

0.7946879150066402

#### Multinomial Naive Bayes

In [50]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

train_pred_multi = model.fit(train_X,train_Y).predict(train_X)

test_pred_multi =  model.fit(train_X,train_Y).predict(test_x)

train_acc_multi=np.mean(train_pred_multi==train_Y)
test_acc_multi=np.mean(test_pred_multi==test_y)

In [51]:
#Training Accuracy of the Multinomial Naive bayes model
train_acc_multi

0.7729186698053778

In [52]:
#test dataset accuracy of the multinomial naive bayes model
test_acc_multi

0.7749667994687915